/* Variables
======================*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap');

// Color
$main_color: #de1f26;
$black_color: #212121;
$white_color: #ffffff;

// Font Setting
$main_font: "Montserrat", sans-serif;
$ar_font:  'Cairo', sans-serif;
$weight_xbold: 700;
$weight_bold: 500;
$weight_reg: 400;

